body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left:30px;
}

.board-row:after{
    clear: both;
    content:"";
    display:table;
}

.status{
    margin-bottom:10px;
}

.square{
    background:#fff;
    border:1px solid #999;
    float:left;
    font-size:24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align:center;
    width: 34px;
}

.square:focus{
    outline: none;
}

.kbd-navigation .square:focus{
    background: #ddd;
}

.game{
    display: flex;
    flex-direction: row;
}

.game-info{
    margin-left: 20px;
}

/* ------ Estilos adicionados por Raphael Ramalho ------- */

body{
    margin: 0;
}

button:not(.square) {
    margin-bottom: 10px;
    width: 8rem;
}

button:hover{
    cursor: pointer;
}

#root .game {
    display: grid;
    grid-template-columns: calc((100vw - 400px)/2) 400px calc((100vw - 400px)/2);
    grid-template-rows: 100px 33.33vw calc(100vh - 33.33vw - 100px);
}

#root .game .game-board{
    grid-column: 2/3;
    grid-row: 2/3;
}

#root .game .game-board > div:first-child{
    height: 100%;
}

#root .game .game-board .board-row{
    height: 133.33px;
}

#root .game .game-board .board-row > .square{
    border-right: none;
}

#root .game .game-board .board-row > .square:first-child{
    border-left: none;
}

#root .game .game-board .board-row:nth-child(1) > .square, 
#root .game .game-board .board-row:nth-child(3) > .square{
    border-top: none;
    border-bottom: none;
}

#root .game .game-board .board-row .square{
    width: 33.33%;
    height: 100%;
    font-size: 6rem;
    font-weight: normal;
    border-width: 2px;
}

#root .game .game-info{
    grid-column: 3/3;
    grid-row: 2/3;
}

#root .game .game-info > div:first-child{
    margin-left: 30px;
}