body{
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left:30px;
}

.board-row:after{
    clear: both;
    content:"";
    display:table;
}

.status{
    margin-bottom:10px;
}

.square{
    background:#fff;
    border:1px solid #999;
    float:left;
    font-size:24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align:center;
    width: 34px;
}

.square:focus{
    outline: none;
}

.kbd-navigation .square:focus{
    background: #ddd;
}

.game{
    display: flex;
    flex-direction: row;
}

.game-info{
    margin-left: 20px;
}

/* ------ Estilos extras adicionados por Raphael Ramalho ------- */

html{
    --tamanhoBoard: 400px;
}

body{
    margin: 0;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    color: white;
}

button:not(.square) {
    margin-bottom: 10px;
    width: 9rem;
    box-shadow: 2px 2px #000000;
}

button:hover{
    cursor: pointer;
}

#root {
    background-color: rgba(238, 130, 238, 0.356);
}

#root .game {
    display: grid;
    grid-template-columns: calc((100vw - var(--tamanhoBoard))/2) var(--tamanhoBoard) calc((100vw - var(--tamanhoBoard))/2);
    grid-template-rows: 120px var(--tamanhoBoard) calc(100vh - 120px - var(--tamanhoBoard));
}

#root .game .game-title {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    line-height: 1em;
}

#root .game .game-board{
    grid-column: 2/3;
    grid-row: 2/3;
}

#root .game .game-board > div:first-child{
    height: 100%;
}

#root .game .game-board .board-row{
    height: 133.33px;
}

#root .game .game-board .board-row > .square{
    width: 33.33%;
    height: 100%;
    font-size: 6rem;
    font-weight: normal;
    border-width: 6px;
    border-right: none;
    background-color: transparent;
    color: white;
    border-color: white;
    text-shadow: 5px 5px #000000;
}

#root .game .game-board .board-row > .square:first-child{
    border-left: none;
}

#root .game .game-board .board-row:nth-child(1) > .square, 
#root .game .game-board .board-row:nth-child(3) > .square{
    border-top: none;
    border-bottom: none;
}

#root .game .game-info{
    grid-column: 3/3;
    grid-row: 2/3;
}

#root .game .game-info > div:first-child{
    margin-left: 30px;
    font-size: 1.5em;
}

#root .game .game-footer{
    grid-column: 1/4;
    grid-row: 3/3;
    display: flex;
    align-items: flex-end;
}

#root .game .game-footer p{
    text-align: center;
    width: 100%;
    height: 30px;
    background-color: black;
    margin: 0;
    padding: 10px;
    font-size: 0.9em;
    color: rgb(163, 163, 163);
}